{% extends 'reviewapp/base.html' %}

{% block content %}

{% load static %}
<div id="category-banner" class="text-center">
    <div class="select-wrapper" style="display: inline-block;">
      <select id="category-dropdown" onchange="getRestaurants(this.value);">
        <option selected value="0">Best in Marrakech</option>
        {% for c in categories %}
        <option value="{{ c.id }}">{{ c.category_text }}</option>
        {% endfor %}
      </select>
      <span><i class="fas fa-chevron-circle-down"></i></span>
    </div>
    <div class="video-container" style="display: inline-block; margin-left: 1200px; margin-top: -50px;">
        <video width="55%" height="auto" controls autoplay>
          <source src="{% static 'reviewapp/videos/sample.mp4' %}" type="video/mp4">
          <source src="{% static 'reviewapp/videos/sample.webm' %}" type="video/webm">
          Your browser does not support the video tag.
        </video>
    </div>
    
</div>


<div id="none-found">
    <div class="alert alert-primary" role="alert">
        No restaurants found.
    </div>
</div>


<div id="restaurants-list-wrapper">
    <div id="restaurants-list">
    </div>
</div>

   
<div id="newRestaurant" class="card restaurant-card shadow mb-4" style="display:none;">
    <a href="#">
        <div class="restaurant-image">
            <img class="card-img-top" src="/static/reviewapp/images/1.jpg" width="100%">
        </div>
        <div class="card-body">
            <h4 class="card-title"><span class="restaurant-text"></span></h4>
            <span class="rating"></span>
            <span class="pricing"></span>
            (<span class="reviews"></span> reviews)
        </div>
    </a>
</div>



{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'reviewapp/style/hom.css' %}" />
{% load static %}
<script src="{% static "reviewapp/js/home.js" %}"></script>

<script>
    getRestaurants(0);
</script>


{% endblock %}