@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    background-color: black;
    min-height: 100%;
}


.radio {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkround {
    position: absolute;
    top: 6px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-color: #f8204f;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}



.radio input:checked~.checkround {
    background-color: #fff;
}


.checkround:after {
    content: "";
    position: absolute;
    display: none;
}


.radio input:checked~.checkround:after {
    display: block;
}

.radio .checkround:after {
    left: 1.2px;
    top: 1.2px;
    width: 9.6px;
    height: 9.6px;
    border-radius: 50%;
    background: #f8204f;
}

.content-container{
    padding: 50px 0px;
}

li {
    list-style: none;
}

.back-button{
    position: absolute;
    top: 15px;
    left: 30px;
    font-size:2em;
    color:rgb(255,0,93);
}

.login{
    font-weight: 500;
    font-size: 1em;
    padding: 5px 20px;
}   